/* Place your CSS styles in this file */

@font-face {
  font-family: 'MyFont'; /* Give your font a name */
  src: url('../fonts/ghastly_panic/Ghastly_panic.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: bold;

}

body {
  font-family: 'MyFont', sans-serif; /* Use the custom font */
}


h1 {
    text-align: center;
    font-family: "MyFont", sans-serif;
    font-size: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    color:rgb(255, 0, 0);
}

h2 {
  text-align: center;
  font-family: "MyFont", sans-serif;
  font-size: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
  color:rgb(0,60,40);
}




p2 {
    display: block;
    /* text-align: center; */
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    padding: 1em 1em;
    color:rgb(255, 0, 0);
}

p3 {
  display: block;
  /* text-align: center; */
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 20px;
  padding: 1em 1em;
  color:rgb(0,60,40);
}


a.one {
  text-align: center;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 30px;
  color: rgb(0,60,40);
  text-decoration: none;
}

a.two {
  text-align: center;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 30px;
  color: rgb(255,0,0);
  text-decoration: none;
}
/*
a.one:visited {
  text-align: center;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 30px;
  color: rgb(0,60,40);
  text-decoration: none;
}
*/


.paragraph {
  text-align: left;
  width: 40%px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}



img {
	
}






















