/* Place your CSS styles in this file */

@font-face {
  font-family: 'MyFont'; /* Give your font a name */
  src: url('../fonts/ghastly_panic/Ghastly_panic.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: bold;

}

body.one {
  font-family: 'MyFont', sans-serif; /* Use the custom font */
  background-color:rgb(0, 0, 0);

}

body.two {
  font-family: 'MyFont', sans-serif; /* Use the custom font */
  background-image: url('../images/forest.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 1000px;
}

h1 {
    text-align: center;
    font-family: "MyFont", sans-serif;
    font-size: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    color:rgb(255, 0, 0);
}

h2 {
  text-align: center;
  font-family: "MyFont", sans-serif;
  font-size: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
  color:rgb(150,240,200);
}




p2 {
    display: block;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    padding: 1em 1em;
    color:rgb(255, 0, 0);
}

p3 {
  display: block;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 20px;
  padding: 1em 1em;
  color:rgb(150,240,200);
}


a.one {
  text-align: center;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 30px;
  color: rgb(0,60,40);
  text-decoration: none;
}

a.two {
  text-align: center;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 30px;
  color: rgb(255,0,0);
  text-decoration: none;
}
/*
a.one:visited {
  text-align: center;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 30px;
  color: rgb(0,60,40);
  text-decoration: none;
}
*/


.paragraph {
  text-align: center;
  text-align: left;
  width: 40%px;
}


.ulv {
  position: absolute;
  right: 50%;
  /*width: 40%;*/
  margin-right: -100px;
  margin-top: 10px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}



img {
	
}






















